@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin: 0;
    background-color: #F1FAEE;
    padding: 0;    
}

/*FOOTER*/

.footerDeNuevo{ /*Footer de index*/
    padding: 0.5rem 0;
    text-align: center;
    color: #3b8d99;
    font-size: 1rem;
    margin bottom: 0px;
    position: relative;
}
.pDeFooter{
    color: #3b8d99;
}
@media only screen and (max-width:1148px){
    .footerDeNuevo{
     margin-top: 500px;
    }
}
@media only screen and (max-width:750px){
    .footerDeNuevo{
     margin-top: 170vh;
    }
}
.footerDeServicios{
    padding: 0.5rem 0;
    text-align: center;
    color: #3b8d99;
    font-size: 1rem;
    position: relative;
    margin-top: 700px;
}
@media only screen and (max-width:1000px){
    .footerDeServicios{
        margin-top: 480px;
    }
}
@media only screen and (max-width:700px){
    .footerDeServicios{
        margin-top: ;
    }
}

/*REDES SOCIALES DEL FOOTER*/
.redes{
    bottom: 0;
    margin-top: 80px ;
    margin-bottom: 1rem;
    text-align: center;
}
.redesBlog{
    position: relative;
    bottom: 0;
    margin-top: 20% ;
    margin-bottom:0%;
    text-align: center;
}
@media only screen and (max-width:400px){
    .redesBlog{
        position: relative;
        bottom: 0;
        margin-top: -60%;
        margin-bottom: 1rem;
        text-align: center;
    } 
}
@media only screen and (max-width:700px){
    .redesBlog{
        position: relative;
        bottom: 0;
        margin-top: 180%;
        margin-bottom: 1rem;
        text-align: center;
    } 
}
/*INDEX*/
.imagenIndex{
    width: 100%;
}
.ContenedorDeIndex{
    position: relative;
    display: flex;
    align-items: center; 
    grid-area: presentacion;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}
.capa{
    position: absolute;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
}
.pDeIndex{
    color: #F1FAEE ;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
}
@media only screen and (max-width:500px){
    .pDeIndex{
        display: none;
    }
}
/*Bienvenido INDEX*/
h1{
    line-height: 1.3em;
    font-size: 2rem;
    color: #F1FAEE ;
}
p{ 
    color: #F1FAEE ;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
}
/*BOTON DE CONTACTO DE INDEX*/
.botonContacto{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #F1FAEE;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;    
}
.botonContacto:hover{
    background: #3b8d99;
    box-shadow: 0 0 10px #3b8d99, 0 0 40px #3b8d99, 0 0 80px #3b8d99;
    transition-delay: 1s;
}
.botonContacto span{
    position: relative;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #3b8d99);
}
.botonContacto:hover #span1{
    left:100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #3b8d99);
}
.botonContacto:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #3b8d99);
}
.botonContacto:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #3b8d99);
}
.botonContacto:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/*Títulos de cards de blog, index y servicios */
h2{
    align-items: center;

}
/*IMAGENES DE INDEX ABAJO*/
.imagenesIndexAbajo{
    width: 20rem;
    align-items: center;
    padding: 30px;
    margin-top: 1rem;
}
.conteinerPequenos{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    position: relative;
}
.conteinerPequenos .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); 
    margin: 20px;
    text-align: center;
    transition: all 0.25;
    position: relative;
}
.conteinerPequenos .card:hover{
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.conteinerPequenos .card img{
    width: 330px;
    height: 220px;
}
.conteinerPequenos .card h2{
    margin: 20px;
    font-weight: 600;
}
.conteinerPequenos .card p{
    padding: 0 0.2rem;
    font-size: 16px;
    font-weight: 300;
    color:#aa4b6b;
}
.conteinerPequenos .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3b8d99;
}

/*CONTACTO*/
.contenedorContacto .form .form-header .form-title{
    font-weight: normal; 
    color: #3b8d99 ;
    text-align: center;
    padding: 14px 0;
}
.contenedorContacto .form .form-header .form-title span{
    color:#aa4b6b;
}
.contenedorContacto .form{
    background: #BFC3BA;
    width: 90%;
    max-width: 650px;
    margin:auto;
    padding: 5px 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 3px;  
}
.contenedorContacto .form .form-label{
    display: block;
    color:  #3b8d99;
    font-size: 16 px;
    position: relative;
}
.contenedorContacto .form .form-input, .form-textarea{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none ;
    border-bottom: 2px solid  #F1FAEE;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
}
.contenedorContacto .form .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}
.contenedorContacto .form .btn-submit {
    width: 100%;
    outline: none;
    background: #3b8d99;
    font-size: 16px;
    border: none;
    color: #F1FAEE;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s easy;
}
.contenedorContacto .form .btn-submit:hover{
    background:  #aa4b6b;
}
/*SERVICIOS*/
section{
    padding: 20px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.row .col50{
    position: relative;
    width: 48%;
}
.tituloServicios{
    color: #aa4b6b;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}
.tituloServicios span{
    color: #3b8d99;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx{
   position: relative; 
   width: 100%;
   min-height: 300px;
}
.imgBx{
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    object-fit: cover;
    border-radius: 15px;
}
.pservicios{
    color:#3b8d99;
}
.about{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: inline-block;
    justify-content: center;
    margin: 0 0 0 0px;
}
@media only screen and (max-width:767px){
    .row{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        width: 100%;
        align-content: space-between;
        margin-bottom: 50px;
    }
    .row .col50 {
        width: 20rem;
    }
}

/*Productos*/
.galeria .h2{    
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 200;
    color: #aa4b6b;
}
.linea{
    border-top: 5px solid rgba(59, 141, 153);
    margin-bottom: 40px;
}
.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:  3px;
}
.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height: 400px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(170,75,107,0.5);
    width: 100%;
    height: 0;
    transition: 1s;
    overflow: hidden;
}
.overlay h4{
    color: #BFC3BA;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}
@media only screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}    
@media only screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%; 
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}
@media only screen and (max-width:450px){
    .h2{
        font-size: 22px;
    }
    .contenedor-imagenes{
        width: 98%; 
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}
/*BLOG*/
.footerDeBlog{
    margin-top: 1200px;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1rem;
    position: relative;
}
@media only screen and (max-width:1125px){
    .footerDeBlog{
        margin-top: 200px;
        position: relative;
    }
}
@media only screen and (max-width:450px){
    .footerDeBlog{
        margin-top: 5500px;
        position: relative;
    }
}